
<script>
    function copyText(){
        var copytext = document.getElementById('copytext')
        copytext.select()
        document.execCommand("copy")
    }
</script>
<div class="container">
    <h1>Url shortener</h1>
    <form action="/create" method="POST" class="my-4 form-inline">
        <label for="fullUrl">Url</label>
        <input type="url" name="fullUrl" placeholder="URL" required class="form-control">
        <button class="btn btn-success mt-2" type="submit">Shrink</button>
    </form>

    <table class="table table-striped text-white">
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        {{#each urls}}
        <tbody>
            <td><a href="{{full}}">{{full}}</a></td>
                <td><a href="/follow/{{short}}">{{short}}</a></td>    
                <td>{{click}}</td>
                </tr>             
        </tbody>
        {{/each}}
    </table>
</div>